* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    
}

img{
    border-radius: 5px;
    padding-top: 20px;
    width: 100%;
}
h1 {
    color: brown;
    text-align: center;
    padding-left: 60px;
}

h2 {
    color: greenyellow;
    margin-bottom: 0%;
    margin-top: 1.5em;
}

h3 {
    color: brown;
}

hr {
    background-color: greenyellow;
    margin-right: 1em;
}

span {
    color: green;
}

ul{
    list-style: none;
}

li{
    background-color: greenyellow;
    margin: 4px;
    padding: 5px;
    border: 1px solid grey;
    width: 120px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(greenyellow)100%);
}

li:hover{
    background-color: rgb(105, 171, 6);
}

a{
    text-decoration: none;
    color: black;
}


#container {
    display: flex;
    flex-direction: row;
}

#content {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding-left: 5px;
    width: 900px;
}

#menu {
    text-align: center;
    padding-right: 5em;
}

#underline {
    background-color: greenyellow;
    height: 1px;
    width: 99%;
}
#current{
    background-color: rgba(237, 144, 45, 0.822);
}

#current:hover{
    background-color: rgba(130, 70, 5, 0.822);
}